{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{% static 'js/cards.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cards.css' %}">
</head>
<body>
<div>
    <img id="joker" width="40px" src="{% static "img/red_joker.jpg" %}">
    <a href="{% url 'profile' %}">Profile</a> | <a href="{% url 'faq' %}">FAQ</a> |
    <a href="{% url 'blackjack' %}">Blackjack</a> | <a href="{% url 'poker' %}">Poker</a> | <a href="{% url 'all_hearts' %}">All Hearts</a> |
    <a href="{% url 'war' %}">War</a>
    <img id="joker" width="40px" src="{% static "img/black_joker.jpg" %}">
    <span style="float:right;">
    {% if user.is_staff %}
{#        <a href="{% url admin:index %}">Admin</a> |#}
        <a href="{% url 'profile' %}">{{ user.username }}</a> | <a href="{% url 'logout' %}">Logout</a>
    {% elif user.is_authenticated %}
        <a href="{% url 'profile' %}">{{ user.username }}</a> | <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a>
    {% endif %}
</span>
</div>
<h1>Welcome to the Card Game!</h1>
{% block content %}
{% endblock content %}
<p style="position: absolute; bottom:0; text-align: center; ">copyright Peter Graham 2014</p>
</body>
</html>